name: Deploy to EC2

on:
  push:
    branches:
      - main  # Le déploiement se lancera à chaque push sur la branche main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Connexion SSH et déploiement
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/html
            # <--- MODIFIEZ CECI PAR VOTRE CHEMIN
            git pull origin main
            # Optionnel : Ajoutez ici vos commandes de redémarrage (ex: npm install, sudo systemctl restart nginx, etc.)